////////////////////////////////////////////////////////////////////
// HEADER //
////////////////////////////////////////////////////////////////////


// DESKTOP //
$header-height:					3rem;
$header-section-padh:			$article-pad;


// PHONE //
$header-height-phone:			3rem;
$header-phone-section-padh:		$article-pad-phone;