// SIZES /////////////////////////////////////////////
//______________________Name____Scale_______Alert
$btn--size-list:  		x-mini  0.8			2px,
						mini    1			2px,
						sm      1.3			3px,
						med     1.5			4px,
						lg      1.8			5px,
						xl      2			6px,
						xl2     2.4			6px,
						xl3     2.8			6px;


// BUTTON GUTTER ///////////////////////////////////
//______________________Name____Size
$btn--gutter-list:  	mini    0.2rem,
						sm      0.4rem,
						med     0.6rem,
						lg      0.8rem,
						xl      1rem;



// Base size for scaling
$btn--sizes-font:		0.75rem;
$btn--sizes-pad:		1rem;
$btn--sizes-radius:		0.3rem;




// SWITCH SIZES //////////////////////////////////////
//__________________________Name____Font________Circle______Pad
$btn--switch-list:			mini	0.8rem		1rem		0.2rem,
							sm		1rem		1.4rem		0.3rem,
							med		1.2rem		1.6rem		0.4rem,
							lg		1.4rem		1.8rem		0.5rem,
							xl		1.6rem		2rem		0.6rem;
