// GLOBAL //
$main-nav--item-width:				90px;
$main-nav--item-height:				4.7rem;
$main-nav--item-max-width:			6rem;
$main-nav--gap:						0.3rem;
$main-nav--icon:					2.4rem;
$main-nav--font:					0.8rem;
$main-nav--pad-h:					0.2rem;
$main-nav--pad-v:					0.8rem;



// PHONE //
$main-nav--phone-item-width:		120px;
$main-nav--phone-height:			3rem;
$main-nav--phone-icon:				3.5rem;
$main-nav--phone-font:				0.8rem;